/*csslint ids:false */

a {
    color: #747070;
    text-decoration: none;
}

#main-nav {
    background: transparent 0 0;
    font-size: 45px;
    left: 0;
    margin-top: 65px;
    max-width: 380px;
    padding: 0;
    top: 175px;
    width: 380px;
}

.nav-link {
    display: block;
    font-family: childFont;
    font-weight: bold;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-top: 40px;
}

#logo {
    height: 100px;
    margin-left: 30px;
    text-decoration: none;
    width: 200px;
}

body {
    background-color: black;
}

#aboutgame {
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

h1 {
    color: #747070;
    font-family: childFont;
    font-size: 40px;
    text-align: center;
}

@font-face {
    font-family: childFont;
    src: url(../Font/tommys.ttf);
}

p {
    color: azure;
    font-family: 'Quicksand', sans-serif;
}

#bcktotop {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
}

#main-footer {
    text-align: center;
}

li {
    color: azure;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
}

.mediabutton {
    margin-left: 50px;
    padding-top: 20px;
}

#copyright {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
}

.pPlaceholder {
    font-size: 30px;
    padding: 0;
}

#gallery li {
    background-color: #212121;
    color: #bdc3c7;
    width: 100%;
}

#wrapper {
    /*Margin is 0 for all 4 sides*/
    margin: 0 auto;
    /* max width is related to width. but instead od width, max-width (gives flexability)that it can be smaller for mobile devices/
    tablets*/
    max-width: 940px;
    /*values first one is top and bottom. second one is left and right*/
    padding: 0 5%;
}
img{
max-width: 100%;
   
}
#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 480px) {
    #primary {
        float: left;
        width: 50%;
    }
}